/* GENERAL */
/* Liens */
a{
    text-decoration: none;
}
/* BODY */

body{
    background-color: rgb(163, 163, 163);
    font-family: Fredoka;
    margin-bottom: 100px;
}
/* NAVBAR */
/* Navbar */
.navbar{
    margin-bottom: 40px;
}
.mynavbar{
    background-color: white;
    box-shadow: 0px 0px 10px #00000052;
    padding: 16px;
}
/* Logo Navbar */
.navbarlogo{
    width: 220px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    margin: 0 auto;
}
.navbar-brand{
    text-align: center;
    margin: 0 auto;
}
/* Boutons navbar */
.nav-link{
    color: black;
    font-size: 20px;
    margin-right: 40px;
}
.nav-link:hover{
    color: #B4918F;
    transition: 0.4s;
}
.offcanvas-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;

}
.offcanvas-header{
    background-color: #b4918f9c;
}
/* Bouton connexion/inscription */
.div-navbar-login-button{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.navbar-login-button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 9px;
    background-color:rgba(0, 0, 0, 0.11);
    margin-left: 25px;
    height: 50px;
    width: 60px;
}
.navbar-login-button span {
    font-size: 20px;
    color: #333;
}
.navbar-login-button-list {
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
    list-style: none;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px #000000a1;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 9px;
    text-align: end;
    padding: 0;
    margin: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-login-button-list li:hover {
    background-color: #ddd;
}
.bi-person-circle{
    font-size: 21px;
    padding-left: 4px;
    padding-bottom: 5px;
}
/* HOME */
.divAboutMeHome{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}
.divActusHome{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 130px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
    font-size: 21px;
}
.divPricesHome{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;

}
.divBookingHome{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;

}
/*Carousel*/
.mycarousel{
    margin: 0 auto;
    background-color: #B4918F;
    padding-bottom: 100px;
}
.slide{
    background-image: url(../../assets/img/bg.png);
    background-attachment: fixed;
    background-position: center center;
    height: 10%;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.192);
  }
  .imgcarousel{
    max-height: 500px;
    object-fit: cover;
    width: 50px;
    max-width: 50%;
    height: 100%;
    margin: 0 auto;

  }
  .textecarousel{
    font-weight: bold;
    color: blue;
  }
  .carousel-caption{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    font-size: 22px;
  }
  .titrecarousel{
    font-size: 45px;
  }
  .carousel-control-next{
    transition: 0.4s;
  }
  .carousel-control-next:hover{
    background-color: rgba(255, 255, 255, 0.192);
    transition: 0.4s;
  }
  .carousel-control-prev{
    transition: 0.4s;
  }
  .carousel-control-prev:hover{
    background-color: rgba(255, 255, 255, 0.192);
    transition: 0.4s;
  }
  @media (max-width:1500px) {
    .carousel-caption{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    font-size: 18px;
    }
    .titrecarousel{
      font-size: 35px;
    }
  }
  @media (max-width:1000px) {
    .carousel-caption{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    font-size: 15px;
    }
    .titrecarousel{
      font-size: 25px;
    }
  }
/*Fin Carousel*/
/* FOOTER */
/* Footer */
.myfooter{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #0000007c;
    z-index: 998;
}
/* Icônes footer */
.rsfooter{
    margin-right: 25px;
}
/* Copyright footer */
.crfooter{
    margin-left: 25px;
}
/* MEDIA QUERIES */
/* Mobile */
@media screen and (max-width: 576px) 
{
    .logodesktop{
        display: none;
    }
    .navbarlogo{
        width: 150px;
        height: 70px;
        margin: 0px;
        padding: 0px;
        border-radius: 50%;
    }
    .search-content {
        margin-top: 150px;
    }
    .bi-person-circle{
        margin-right: 10px;
        margin: 0 auto;
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 7px;
    }
    .mycarousel{
        height: 200px;
    }
    .carousel{
        height: 200px;
    }
    .slide{
        height: 200px;
        width: 100%;
    }
    .textHomePage{
        width: 100%;
    }
    .buttonHomePage{
        display: none;
    }
    .logoHomePage{
        display: none;
    }
    .buttonHomePageMobile{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .nometprenom{
        display: none;
    }
    .haircutRow{
        max-width: 80%;
    }
    .cardHaircut{
        width: 80%;
    }
    .imageHaircut{
        max-width: 80%;
        width: 80%;
        margin: 0 auto;
    }
    .signup-buttons{
        width: 30%;
        max-width: 30%;
        height: 800px;
    }
    .signup-home-button{
        width: 80%;
        max-width: 80%;
    }
    .signupButtonsMobile{
        display: block;
    }
    .signup-buttons{
        display: none;
    }
    .greatDivSignupButtons{
        display: none;
    }
    .cardMyAccount{
        max-width: 100%;
        width: 100%;
        background-color: #B4918F;
        color: white;
    }
    .textareaNewMessage{
        width: 500px;
    }
    .messageContent{
        width: 500px;
    }
    .colPresta{
        display: none;
    }
    .colLongueur{
        display: none;
    }
}
/* Tablette */
@media screen and (min-width: 576px) {
    .logodesktop{
        display: none;
    }
    .search-content {
        margin-top: 250px;
    }
    .bi-person-circle{
        margin-right: 10px;
        margin: 0 auto;
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 7px;
    }
    .mycarousel{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .buttonHomePageMobile{
        display: none;
    }.logoHomePage{
        display: none;
    }
    .signupButtonsMobile{
        display: none;
    }
    .signup-buttons{
        display: none;
    }
    .greatDivSignupButtons{
        display: block;
    }
}
/* Desktop */
@media screen and (min-width: 992px){  
    .logomobile{
        display: none;
    }
    .logodesktop{
        display: block;
    }
    .search-content {
        margin-top: 350px;
    }
    .connexion{
        display: flex;
        text-decoration: hidden;
    }
    .bi-person-circle{
        margin-right: 10px;
        margin: 0 auto;
        margin-top: 7px;
        margin-left: 10px;
    }
    .mycarousel{
        padding-top: 80px;
        padding-bottom: none;
    }
    .buttonHomePageMobile{
        display: none;
    }
    .logoHomePage{
        display: block;
    }
    .signupButtonsMobile{
        display: none;
    }
    .greatDivSignupButtons{
        display: block;
    }
}
.buttonCarousel{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;

}
.buttonCarousel:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* INSCRIPTION */
/* Erreurs formulaire */
.errorform{
    color: red;
    margin-bottom: 35px;
    font-size: 20px;
}
/* Messages d'erreur */
.invalid{
    color: red;
}
/* Formulaire */
.myform{
    margin: 0 auto;
    max-width: 70%;
    margin-top: 70px;
}
/* Boutons S'inscrire / Retour */
.signup-buttons{
    display: flex;
    justify-content: space-evenly;
}
.div-register-buttons{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.4s;
    text-align: center;
}
/* Bouton Retour */
.signup-return-button{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.signup-return-button:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Bouton S'inscrire */
.signup-register-button{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.signup-register-button:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Bouton Retour à l'accueil */
.signup-home-button{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.signup-home-button:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Redirection vers la page de connexion */
.redirectToLoginMessage{
    color: white;
    background-color: #B4918F;
    font-size: 30px;
    text-align: center;
    margin-top: 270px;
}
/* CONNEXION */
/* Bouton Connexion */
.login-connexion-button{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.login-connexion-button:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Bouton Inscription */
.login-signup-button{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.login-signup-button:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Pas de compte */
.noaccount{
    margin-top: 10px;
    text-decoration: none;
}
.foufou{
    background-color: red;
    color: blue;
    font-size: 50px;
}
/* MON COMPTE */
/* Conteneur cartes */
.textecarteaccount{
    color: #B4918F;
}
.titrecarteaccount{
    color: #B4918F;
}
.containerMyAccount{
    margin-top: 50px;
}
/* Logos */
.logoMyAccount{
    width: 25%;
    margin-left: 15px;
    margin-top: 10px;
}
/* Rangée inférieure */
.lowerRowMyAccount{
    margin-bottom: 145px;
}
/* Cartes */
.cardMyAccount{
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.4s;
    background-color: white;
}
.cardMyAccount:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px #0000007c;
    transition: 0.4s;
}
/* Texte cartes */
.textCardMyAccount{
    text-align: right;
    color: black;
}
/* Div cartes */
.colMyAccount{
    margin-top: 50px;
}
/* MESSAGERIE */
/* Boutons */
.divButtonsMyMessages{
    margin-top: 40px;
    text-align: center;
}
/* bouton messages reçus */
.receivedButton{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.receivedButton:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
.receivedButtonMyAccount{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
    margin-bottom: 6px;
}
.receivedButtonMyAccount:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* bouton messages envoyés */
.sentButton{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.sentButton:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* bouton nouveau message */
.newMessageButton{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.newMessageButton:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Messages envoyés */
.sentMessageDiv{
    color: black;
    background-color: rgba(255, 255, 255, 0.671);
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    margin-top: 8px;
    padding: 10px;
}
.mymessagesSentMessageDiv{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
}
/* Messages reçus */
.receivedMessageDiv{
    color: black;
    background-color: rgba(255, 255, 255, 0.671);
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    margin-top: 8px;
    padding: 10px;
}
.mymessagesReceivedMessageDiv{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
}
.mymessagesReceivedMessageText{
    font-size: 20px;
    margin-top: 5px;
}
.mymessagesNoSentMessageDiv{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
    text-align: center;
    font-size: 50px;
}
.mymessagesSentDeleteButton{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.mymessagesSentDeleteButton:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
.dateAndDeleteButton{
    display: flex;
    justify-content: space-between;
    padding-bottom: none;
    margin-bottom: none;
}
.mymessagesSentMessageText{
    font-size: 20px;
    margin-top: 5px;
}
/* Nouveau message */
.messageContent{
    margin: 0 auto;
    width: 100%;
    height: 160px;
    border-radius: 12px;
    display: flex;
    font-size: 20px;
    padding: 10px;
}
.textareaNewMessage{
    margin: 0 auto;
    text-align: end;
    margin-top: 50px;
    width: 65%;
}
@media screen and (max-width: 576px) 
{
    .textareaNewMessage{
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
    .mymessagesSentMessageDiv{
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    
    }
    .mymessagesReceivedMessageDiv{
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
}
.sendButtonNewMessage{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.sendButtonNewMessage:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Booking */
.bookingTypeDiv{
    margin: 0 auto;
    width: 65%;
    margin-top: 50px;
}
/* Div boutons */
.divBookingButtons{
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
    text-align: center;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
/* Bouton réserver */
.newBookingButton{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.newBookingButton:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* Bouton retour */
.returnToMyAccountButton{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.returnToMyAccountButton:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* mybookings */
.divButtonsMyBookings{
    margin-top: 40px;
    text-align: center;
}
/* PRICES */
/* Tableau des prix */
.priceGrid{
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 60px;
    color: #B4918F;
}
.priceGridRow{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border: black;
    border-style: solid;
    border-width: 1px;
}
/* Mobile */
@media screen and (max-width: 672px) 
{
    .priceGrid{
        font-size: 15px;
        width: 90%;
        text-align: center;
    }
}
/* Tablette */
@media screen and (min-width: 672px)
{
    .priceGrid{
        font-size: 17px;
        width: 80%;
    }
    .inputPersonalInfos{
        width: 120px;
    }
}
/* Desktop */
@media screen and (min-width: 992px)
{
    .priceGrid{
        width: 56%;
        font-size: 19px;
    }
}
/* CREATIONS */
/* Images coupes */
.haircutRow{
    margin-top: 50px;
}
.card{
    margin: 0 auto;
    width: 550px;
    padding-top: 20px;
    height: 100%;
}
.image{
    width: 450px;
    margin: 0 auto;
    margin-top: 15px;
}
.creationsImgDescription{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #b4918fb9;
    border-radius: 10px;
    width: 95%;
}
/* ADMIN */
/* Admin booking */
.tableAdminBooking{
    margin: 0 auto;
    margin-top: 50px;
    width: 96%;
    border: black;
}
/* Admin messages reçus */
.receivedMessagesAdminDeleteButton{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.receivedMessagesAdminDeleteButton:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
.selectInfosUser{
    width: 25%;
}
/* SECURITY */
.divPersonalInfos{
    background-color: rgba(255, 255, 255, 0.24);
    width: 37%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
}
@media screen and (max-width: 576px) 
{
    .divPersonalInfos{
        width: 90%;
    }
}
.textPersonalInfos{
    font-size: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.inputPersonalInfos{
    width: 300px;
    text-align: end;
    background-color: #00000000;
    border-color: #00000000;
}
@media screen and (max-width: 576px) 
{
    .inputPersonalInfos{
        width: 120px;
    }
}
@media screen and (min-width: 672px)
{
    .inputPersonalInfos{
        width: 120px;
    }
}
.updateButtonPersonalInfos{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
    margin-left: 15px;
}
/* Mobile */
@media screen and (max-width: 576px) 
{
    .updateButtonPersonalInfos{
        width: 120px;
    }
}
.updateButtonPersonalInfos:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
.divUpdateButtonPersonalInfos{
    text-align: center;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}
.returnButtonPersonalInfos{
    background-color: #B4918F;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.4s;
    margin-right: 15px;
}
@media screen and (max-width: 576px) 
{
    .returnButtonPersonalInfos{
        width: 120px;
    }
}
.returnButtonPersonalInfos:hover{
    background-color: white;
    color: #B4918F;
    transition: 0.4s;
}
/* ABOUT ME */
/* Div about me */
.aboutmeDiv{
    background-color: #B4918F;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: #00000000;
    border-radius: 24px;
    color: white;
}
/* Titre about me */
.aboutmeTitle{
    font-size: 26px;
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    background-color: rgb(196, 196, 196);
    border-radius: 14px;
    width: 80%;
    background-color: rgba(204, 177, 175, 0.294)
}
/* Texte about me */
.aboutmeText{
    font-size: 17px;
    margin-top: 29px;
    text-align: center;
}