/* GENERAL */
/* Liens */
a{
    text-decoration: none;
}
/* BODY */
body{
    background-color: rgb(163, 163, 163);
    margin-bottom: 100px;
    font-family: Fredoka;
}
/* NAVBAR */
/* Navbar */
.mynavbar{
    background-color: white;
    box-shadow: 0px 0px 10px #00000052;
    padding: 16px;
}
/* Logo Navbar */
.navbarlogo{
    width: 100px;
    height: 100px;
    margin: 0px;
    margin-right: 25px;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    transition: all 0.5s ease-in-out;
}
/* Barre de recherche navbar */
.search-popup {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    margin: 0 auto;
}
.search-bar {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
}
.rechercher{
    margin-right: 15px;
}
.loupe1{
    border: none;
    background-color: transparent;
}
.loupe2{
    border: none;
    background-color: transparent;
}
/* Bouton connexion/inscription */
.div-navbar-login-button{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.navbar-login-button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 9px;
    background-color:rgba(0, 0, 0, 0.11);
    margin-left: 25px;
    height: 50px;
    width: 60px;
}
.navbar-login-button span {
    font-size: 20px;
    color: #333;
}
.navbar-login-button-list {
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
    list-style: none;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px #000000a1;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 9px;
    text-align: end;
    padding: 0;
    margin: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-login-button-list li:hover {
    background-color: #ddd;
}
.bi-person-circle{
    font-size: 21px;
    padding-left: 4px;
    padding-bottom: 5px;
}
/* FOOTER */
/* Footer */
.myfooter{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #0000007c;
    z-index: 998;
}
/* Icônes footer */
.rsfooter{
    margin-right: 25px;
}
/* Copyright footer */
.crfooter{
    margin-left: 25px;
}
/* MEDIA QUERIES */
/* Mobile */
@media screen and (max-width: 576px) 
{
    .loupe1{
        display: block;
        margin-left: auto;
        margin-right: 25px;
    }
    .loupe2{
        display: none;
    }
    .search-content {
        margin-top: 150px;
    }
    .bi-person-circle{
        margin-right: 10px;
        margin: 0 auto;
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 7px;
    }
}
/* Tablette */
@media screen and (min-width: 576px) {
    .loupe1{
        display: block;
        margin-left: auto;
        margin-right: 25px;
    }
    .loupe2{
        display: none;
    }
    .search-content {
        margin-top: 250px;
    }
    .bi-person-circle{
        margin-right: 10px;
        margin: 0 auto;
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 7px;
    }
}
/* Desktop */
@media screen and (min-width: 992px){  
    .loupe1{
        display: none;
    }
    .loupe2{
        display: block;
    }
    .search-content {
        margin-top: 350px;
    }
    .connexion{
        display: flex;
        text-decoration: hidden;
    }
    .bi-person-circle{
        margin-right: 10px;
        margin: 0 auto;
        margin-top: 7px;
        margin-left: 10px;
    }
}
/* INSCRIPTION */
/* Erreurs formulaire */
.errorform{
    color: red;
    margin-bottom: 35px;
    font-size: 20px;
}
/* Messages d'erreur */
.invalid{
    color: red;
}
/* Formulaire */
.myform{
    margin: 0 auto;
    max-width: 70%;
    margin-top: 70px;
}
/* Boutons S'inscrire / Retour */
.signup-buttons{
    display: flex;
    justify-content: space-evenly;
}
.div-register-buttons{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.4s;
    text-align: center;
}
/* Bouton Retour */
.signup-return-button{
    background-color: #E33B89;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
}
.signup-return-button:hover{
    background-color: rgb(33, 126, 247);
    color: white;
    transition: 0.4s;
    width: 190px;
    height: 60px;
}
/* Bouton S'inscrire */
.signup-register-button{
    background-color: #E33B89;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
    margin-bottom: 80px;    
}
.signup-register-button:hover{
    background-color: rgb(33, 126, 247);
    color: white;
    transition: 0.4s;
    width: 190px;
    height: 60px;
}
/* Bouton Retour à l'accueil */
.signup-home-button{
    background-color: #E33B89;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
    margin-bottom: 80px;
}
.signup-home-button:hover{
    background-color: rgb(33, 126, 247);
    color: white;
    transition: 0.4s;
    width: 190px;
    height: 60px;
}
/* Redirection vers la page de connexion */
.redirectToLoginMessage{
    color: deeppink;
    background-color: blue;
    font-size: 30px;
    text-align: center;
    margin-top: 270px;
}
/* CONNEXION */
/* Bouton Connexion */
.login-connexion-button{
    background-color: #E33B89;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
    margin-bottom: 80px;
}
.login-connexion-button:hover{
    background-color: rgb(33, 126, 247);
    color: white;
    transition: 0.4s;
    width: 190px;
    height: 60px;
}
/* Bouton Inscription */
.login-signup-button{
    background-color: #E33B89;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
}
.login-signup-button:hover{
    background-color: rgb(33, 126, 247);
    color: white;
    transition: 0.4s;
    width: 190px;
    height: 60px;
}
/* Pas de compte */
.noaccount{
    margin-top: 10px;
    text-decoration: none;
}
.foufou{
    background-color: red;
    color: blue;
    font-size: 50px;
}
/* MON COMPTE */
/* Conteneur cartes */
.containerMyAccount{
    margin-top: 50px;
}
/* Logos */
.logoMyAccount{
    width: 25%;
    margin-left: 15px;
    margin-top: 10px;
}
/* Rangée inférieure */
.lowerRowMyAccount{
    margin-bottom: 145px;
}
/* Cartes */
.cardMyAccount{
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.4s;
}
.cardMyAccount:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px #0000007c;
    transition: 0.4s;
}
/* Texte cartes */
.textCardMyAccount{
    text-align: right;
    color: black;
}
/* Div cartes */
.colMyAccount{
    margin-top: 50px;
}
/* MESSAGERIE */
/* Boutons */
.divButtonsMyMessages{
    display: block;
    background-color: deeppink;
}
/* Messages envoyés */
.sentMessageDiv{
    color: black;
    background-color: rgba(255, 255, 255, 0.671);
}
.sentMessageDivTest{
    background-color: rgba(255, 255, 255, 0.24);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
}