body{
    background-color: rgb(163, 163, 163);
}
/* NAVBAR */
/* Logo Navbar */
.navbarlogo{
    width: 100px;
    height: 100px;
    margin: 0px;
    margin-right: 25px;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    transition: all 0.5s ease-in-out;
}
/* Navbar */
.mynavbar{
    background-color: white;
    box-shadow: 0px 0px 10px #00000052;
    padding: 16px;
}
/* FOOTER */
/* Footer */
.myfooter{
    background-color: white;
    box-shadow: 0px 0px 10px #0000007c;
}
/* Icônes footer */
.rsfooter{
    margin-right: 25px;
}
/* Copyright footer */
.crfooter{
    margin-left: 25px;
}